@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer components{
  .container-center{
    @apply container pb-24;
  }

}
@layer base{
  body{
    @apply bg-gray-200
  }
}
@layer utilities {
  .active-link{
    @apply  text-purple-900 font-extrabold;
  }
  .text-balance {
    text-wrap: balance;
  }
  .progress-items{
    @apply flex flex-col gap-1
  }
}
